PyYAML
-e git+https://github.com/AndreaCensi/contracts.git@env_fault#egg=PyContracts
-e git+https://github.com/AndreaCensi/reprep.git@env_fault#egg=reprep
-e git+https://github.com/AndreaCensi/compmake.git@env_fault#egg=compmake
-e git+https://github.com/AndreaCensi/comptests.git@env_fault#egg=comptests
-e git+https://github.com/AndreaCensi/conf_tools.git@env_fault#egg=ConfTools
-e git+https://github.com/AndreaCensi/system_cmd.git@env_fault#egg=SystemCmd
-e git+https://github.com/AndreaCensi/rawlogs.git@env_fault#egg=rawlogs
-e git+https://github.com/AndreaCensi/hdflogs.git@env_fault#egg=hdflogs
