<launch>
    <group ns="test00" clear_params="true">
        
 
        <node pkg="bootstrapping_adapter" 
              name="my_robot" type="robot_adapter.py" output="screen">
              
              <rosparam param="code">
                  [magnus_experiments.SimpleRobot,
                   {num_sensels: 4, num_commands: 1, rfs: 3}]
              </rosparam>
        </node>

    <node pkg="bootstrapping_adapter" name="my_agent" type="agent_adapter.py" output="screen">
              <rosparam param="code">
                  [magnus_experiments.SimpleAgent, {beta: 0.1, M: 10}]
              </rosparam>
        
        <remap from="observations" to="my_robot/observations" />
        <remap from="commands"     to="my_robot/commands" />        
    </node>
    
    </group>
    
    <!-- <rosparam command="dump" file="after.yaml"/> -->
</launch>
